* {
    box-sizing: border-box;
    margin: auto;    
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


nav {
    float: left;
    width: 30%;
    height: 100%;
    /* only for demonstration, should be removed */
    background: rgb(1, 35, 66);
    padding: 20px;
}


nav h2 {
    text-align: center;
    color:rgb(2, 173, 179);
    padding: 0;
    font-weight: 500;
}
nav h4{
    color:#f1f1f1;
    text-align: center;
    font-weight: 200;
    padding-top: 15px;
}
nav h3{
    text-align: left;
    color:#f1f1f1;
    padding-top: 20px;
} 
nav p{
    margin-top: 20px;
    color: rgb(255, 255, 255);
    font-weight: 100;
}
nav ul li{
    padding-top: 20px;
    color:#f1f1f1;
    list-style-type:disc;
}
article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #ffffff;
    height: 100%;
    /* only for demonstration, should be removed */
}
table, th, td{
    margin-top: 10px;
    margin-left: 0px;
    padding: 5px;
    border: 2px solid rgb(0, 54, 71);
    border-collapse: collapse;
    
}

section::after {
    content: "";
    display: table;
    clear: both;
}



/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {

    nav,
    article {
        width: 100%;
        height: auto;
    }
}