body{
    background-color: blanchedalmond;
}
table, th, td{
    margin-top: 10%;
    margin-left: 40%;
    padding: 15px;
    border: 2px solid rgb(62, 202, 245);
    border-collapse: collapse;
    justify-content: center;
}