*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(154, 177, 169);
}
#header{
    height:10%;
    width:100%;
    background-color: rgb(7, 80, 102);
    color:antiquewhite;
    padding: 20px 20px;
}

ol li{
    margin: 20px 0px 0px 40px;
    list-style-type: decimal-leading-zero;
}